body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 12px;
}

h2 {
    font-weight: bold;
}

h5 {
    margin-top: 20px;
    font-weight: 600;
}

/* Success & Error Colors */
#output {
    font-weight: bold;
}
